
.backButton {
   position: absolute;
   top: 90px;
   left: 20px;
   cursor: pointer;
 }
 
 .backButton img {
   width: 40px;
   height: 40px;
 }
 .background {
   background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(25, 1, 1, 0.9)), url("../images/Initial.jpg");
   background-size: cover;
   background-position: center;
   align-items: center;
   justify-content: center;
   height:100vh;
   
}
.navSeparator {
   margin: 0px ; 
   border-top: 1px solid #ccc; 
 }
 .extraText1 {
  color: white;
  text-align: center; 
  max-width: 80%;
  margin-left: 130px;
  font-weight: bold;
  font-size: 40px;
}
.yellowText {
  color: yellow; 
}

@media (max-width: 768px) {
  .backButton {
    top: 20px; 
    left: 10px; 
  }

  .backButton img {
    width: 30px; 
    height: 30px; 
  }

 
  .extraText1 {
    font-size: 24px;
    max-width: 100%; 
    margin-left: 0; 
    text-align: center; 
  }
}
